<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "HOME" -%>
    	<div id="search_container">
        	<div id="search_box">
				<form accept-charset="UTF-8" action="/search" id="do-basic-search" method="get">
			  		<% if SKIN == 'modnets' %>
				  <input id="search_phrase" name="q" type="text" placeholder="Search <%= Setup.site_name() %>..." /><input value="" id="search_button" type="submit" />
			<% else %>
				<div id="search_name">
	            	<strong>Search <%= Setup.site_name() %>:</strong><br />
				</div>
	                <input id="search_phrase" name="q" type="text" /><input value="Search" id="search_button" type="submit" />
				  <% end %>
	                <div id="search_note_container">
	               	  <div id="search_note">Searching <%= number_with_delimiter(session[:num_docs]) %> peer-reviewed digital objects from <%=number_with_delimiter(session[:num_sites])%> federated sites  </div>
	                    <div id="advanced_link"><%= link_to("Advanced Search", '/search', { :class => 'nav_link' } ) %></div>
	                    <div class="clear_both"></div>
	                </div>
				</form>
            </div>
        </div>
		<div id="popular_container">
		  <% if SKIN == 'modnets' %>
			  <div id="discussions">
				<% if @featured_news -%>
					<div class="popular_title">News Flash</div>
					<%= render :partial => "/home/featured_news" %>
				<% elsif @feature -%>
					<div class="popular_title">Featured Object</div>
					<%= render :partial => "/home/featured_resource", :locals => { :feature => @feature } %>
				<% else -%>
					<div class="popular_title">Popular Discussions</div>
					<%= render :partial => "/home/popular_discussions", :locals => { :discussions => @discussions, :show_more => true } %>
				<% end -%>
			  </div>
			  <div id="tags">
				<div class="popular_title">Browse Recent Tags</div>
				<%= render :partial => "/home/popular_tags", :locals => { :tags => @tags } %>
			  </div>
			  <div id="news">
				<div class="popular_title">Recent News</div>
				<div id="recent_news"></div>
			  </div>
		  <% else %>
			<table>
            	<tbody>
					<tr><td colspan="5" class="spacer_cell"></td></tr>
            	<tr>
                    <td id="tags" valign="top">
                    <div class="popular_title">Browse Recent Tags</div>
					<%= render :partial => "/home/popular_tags", :locals => { :tags => @tags } %>
					</td>
                	<td id="discussions" valign="top">
                    </td>
					<% if Setup.display_news_tab? %>
                  <td class="spacer_cell"></td>
                  <td id="news" valign="top">
                     <div class="popular_title">Recent News</div>
   					   <div id="recent_news"></div>
                  </td>
              <% end %>
              </tr>
            	<tr><td colspan="5" class="spacer_cell"></td></tr>
            </tbody>
		</table>
		  <% end %>
		</div>
<%# if SKIN == 'nines' -%>
	<%# = render :partial => 'featured_exhibit' %>
<%# end -%>



