<%# ------------------------------------------------------------------------
    Copyright 2007 Applied Research in Patacriticism and the University of Virginia

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
---------------------------------------------------------------------------- %>

<div class="right_column ajax-style">
	<% if SKIN.upcase != 'INDEXIURIS' %>
		<div class="right_column_header">Limit Results to...</div>
    	<p>Select a resource below to limit your search results</p>
		
		<table class="limit_to facet-archive">
			<tr>
				<th>Resource</th>
				<th class="num_objects"># of Objects</th>
			</tr>
		</table>
  	  <br/>
	<% end %>
  
  <div class="right_column_header"><h3>Other helpful Facets...</h3></div>
  
  <p>
  <label for="amount">Date range:</label>
  <input type="text"  id="amount" readonly style="border:0; color:#750123; font-weight:bold;" >
  </p>
  <div id="slider-range" onmouseup="window.collex.Range();" ></div>
  <hr>
  
   
   
 
  <p>Select a facet below to limit your search results</p>

  <% facet_order = Setup.facet_order() %>
  <% facet_keys = facet_order.keys.sort %>
  <% facet_keys.each do |key| %>
    <% case facet_order[key] %>
      <% when 'access' %>
          <%= create_access_table(0,0,0) %>
      <% when 'format' %>
          <%=  create_format_table([]) %>
      <% when 'language' %><!--added for language field -akhil -->
          <%=  create_language_table([]) %>
      <% when 'genre' %>
          <%=  create_genre_table([]) %>
	  <% when 'origin' %> <!--added for origin field -akhil -->
	  	  <%=  create_origin_table([]) %>
	  <% when 'provenance' %> <!--added for provenance field -akhil -->
	  	  <%=  create_provenance_table([]) %>
	  <% when 'composition' %> <!--added for composition field -akhil -->
	  	  <%=  create_composition_table([]) %>
      <% when 'type_digital_artifact' %> <!--added for type_digital_artifactfield -akhil -->
	  	  <%=  create_type_digital_artifact_table([]) %>
      <% when 'type_original_artifact' %> <!--added for type_original_artifact field -akhil -->
	  	  <%=  create_type_original_artifact_table([]) %>
      <% end %>
  <% end %>

</div>